@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

.calendar {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0;
}

.left {
  background-color: #38cec4;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;

  @media screen and (max-width: 820px) {
    width: 100%;
  }
}

.right {
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 820px) {
    width: 100%;
  }
}

.currentDayName {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 75px 0 40px;
}

.currentDayNumber {
  font-size: 225px;
  font-family: 'Nanum Gothic', sans-serif;
  padding-bottom: 100px;
}

